
# SECRET_KEY=django-insecure-26$yw=l3&xgdicl4s^d8$$unjagx)$f#%^qth1ycne4-uvr!j=
# DEBUG=True

# ============================================================
# CONFIGURACIÓN GENERAL DE DJANGO
# ============================================================

SECRET_KEY=
DEBUG=False


# ============================================================
# BASE DE DATOS MYSQL
# ============================================================

DB_NAME=taxi_db
DB_USER=taxi_user
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306


# ============================================================
# HOSTS PERMITIDOS
# ============================================================

ALLOWED_HOSTS=127.0.0.1,localhost,169.58.2.183,taxiadmin.servitaxitortuguero.com


# ============================================================
# CORS
# ============================================================

CORS_ALLOW_ALL_ORIGINS=False

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://taxiadmin.servitaxitortuguero.com


# ============================================================
# CSRF
# ============================================================

CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://taxiadmin.servitaxitortuguero.com


# ============================================================
# SEGURIDAD HTTPS
# ============================================================

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False


# ============================================================
# LOGS
# ============================================================

DJANGO_LOG_LEVEL=INFO